body {
	background: #444 url('img/body.jpg');
	color: #444;
	font: normal 1.2em Verdana,Arial,sans-serif;
	height: 100%;
	padding-bottom: 1px;
	padding-top: 64px;
}

.gallery img{
	margin:5px;
	border:3px solid #fff;
	float: left;
}

a.photo{
	float: left;
}

a.photo:hover img{
	border:3px solid #034F80;
}

#main {
	width:858px;
	margin:0 auto;
	background: #4A4A4A;
	color: #CCC;
}

.post_title h2 {
	font: normal 2em Arial,sans-serif;
	margin: 0;
	padding: 0;
}

.post_views h2 {
	font: normal 2em Arial,sans-serif;
	margin: 0;
	padding: 0;
}

.photo img {
	margin:5px;
	border:3px solid #fff;
}

.gallery ul {
	list-style-type: none;
}

.catalogCard, .productCard {
	border-width: 3px;
	border-color: grey;
	border-style: solid;
	border-radius: 10px;
	padding: 20px;
	margin: 10px;
}

.catalogCard h5, .productCard h5 {
	font: normal 1em Arial,sans-serif;
	margin: 5px;
	padding: 10px;
}

.catalogCard p, .productCard p {
	font: normal 1em Arial,sans-serif;
	margin: 5px;
	padding: 10px;
}

.productButton {
	background-color: green;
	color: white;
	text-decoration: none;
	padding: 10px;	
	border-radius: 5px;
}

.productButton:hover {
	background-color: lightgreen;
	color: darkgreen;
}

.catalogCard img {
	display: block;
	clear: both;
	float: none;
	width: 300px;
	height: auto;
}

.productCard img {
	display: block;
	clear: both;
	float: none;
	object-fit: cover;
	width: 100%;
	height: 100%;
}